<header class="fixed-top">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark ml-auto">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>    
    </ul>
  </div>  
</nav>
</header>
 <div class="banner" [ngStyle]="{'background' : 'linear-gradient(rgba(0,0,0,.7), rgba(38,38,180,.7)),url(assets/Trinity_Fron_End_Dev_Assignment/woman-in-blue-crew-neck-shirt-using-black-laptop-computer-3994051.png)'}">
  <div class="overlay">
<div class="container" >

  <div class="row">
    <div class="col-lg-4">
      <div class="banner-text">
        <div class="banner-heading">
          we create applications with excellent technology.
      </div>
      <div class="banner-sub-heading">
        <p style="font-size:15px">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here
      </p>
      </div>
        <div class="banner-sub-heading">
          <button type="button" class="btn-banner">Download Now <span><img src="assets/Trinity_Fron_End_Dev_Assignment/get_app-24px.svg"></span></button>
          <a href="" class="explore">Explore More <img class="arrow-right" src="assets/Trinity_Fron_End_Dev_Assignment/arrow_right_alt-24px.svg"></a>
                 </div>
      </div>
    </div> 
    <div class="col-lg-8 ">
      <div class="icon-boxes d-flex flex-column justify-content-center">
        <div class="row">
          <div class="col-md-4 col-sm-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="banner-box mt-4 mt-xl-0">
              <img  src="assets/Trinity_Fron_End_Dev_Assignment/iPhone X - Light@2x.png">

            </div>
          </div>
          <div class="col-md-4 col-sm-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="banner-box mt-4 mt-xl-0">
              <img  src="assets/Trinity_Fron_End_Dev_Assignment/iPhone X - Light@2x.png" style=" margin-top: 7px;
              margin-left: 32px;
              padding-left: 20px;
              
              height: 700px;
              opacity: 1;">

            </div>
          </div>
          <div class="col-md-4 col-sm-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <div class="banner-box mt-4 mt-xl-0">
              <img  src="assets/Trinity_Fron_End_Dev_Assignment/iPhone X - Light@2x.png">

            </div>
          </div>
        </div>
      </div>
    </div> 

</div>
</div>
</div> 
</div>




<section id="service" class="service section-bg">
  <div class="container">

    <div class="section-title">
      <h2>We provide various kind of service for you</h2>
      <p>It Is A Long Established Fact That A Reader Will Be Distracted By The Readable Content Of A Page When Looking At Its Layout. The Point Of Using Lorem</p>
    </div>

    <div class="row" style="margin-top: 50px;">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="icon-box">
          <div class="icon"><img src="assets/Trinity_Fron_End_Dev_Assignment/smartphone (1).svg"></div>
          <h4 class="title">Unique App Ui</h4>
          <p class="description">It is a long established fact that a Reader Will Be Distracted By The Readable Content Of A Page</p> 
      </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="icon-box">
          <div class="icon"><img src="assets/Trinity_Fron_End_Dev_Assignment/layout.svg"></div>
          <h4 class="title">Exclient Dashboard</h4>
          <p class="description">It is a long established fact that a Reader Will Be Distracted By The Readable Content Of A Page </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12" data-wow-delay="0.1s">
        <div class="icon-box">
          <div class="icon"><img src="assets/Trinity_Fron_End_Dev_Assignment/layout.svg"></div>
          <h4 class="title">By Bonstruction</h4>
          <p class="description">It is a long established fact that a Reader Will Be Distracted By The Readable Content Of A Page </p>
        </div>
      </div>
      
      </div>
   

  </div>
</section>




    <section id="hero">

     <div class="container">
      <div class="path-28">
      </div>
        <div class="row">
         
          <div class="col-lg-6 col-sm-12">
           
         
           

            <img src="assets/Trinity_Fron_End_Dev_Assignment/iPhone X - Light.png" class="img-fluid" alt="">
          </div>
       
      <div class="col-lg-6 col-sm-12">
       
          <h1>Built The App That Everyone Love.</h1>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like</p><br>

       <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem</p><br>
       <button type="button" class="btn get-more"></button>
      
      </div>
    </div>
  </div>
    </section>

    <section id="project" class="project">
   <div class="container" >
        <div class="section-title" >
          <h2>We provide various kind of service for you</h2>
          <p>It Is A Long Established Fact That A Reader Will Be Distracted By The Readable Content Of A Page When Looking At Its Layout. The Point Of Using Lorem</p>
        </div>


        <div class="row no-gutters" style="margin-bottom: 50px; ">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box" id="countbox">
              <img src="assets/Trinity_Fron_End_Dev_Assignment/check_circle_outline-24px (1).svg">
              <span data-toggle="counter-up">100+</span>
              <p>Projects Complete</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <img src="assets/Trinity_Fron_End_Dev_Assignment/assignment_turned_in-24px.svg">
              <span data-toggle="counter-up">100+</span>
              <p>Active Projects</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <img src="assets/Trinity_Fron_End_Dev_Assignment/supervised_user_circle-24px (2).svg">
              <span data-toggle="counter-up">90+</span>
              <p>Clients Satisfied</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <img src="assets/Trinity_Fron_End_Dev_Assignment/supervised_user_circle-24px (2)-1.svg">
              <span data-toggle="counter-up">56+</span>
              <p>Country Available</p>
            </div>
          </div>

         
          </div>

        </div>
    </section>
     
     <section id="services" class="services" style="margin-bottom: 50px;">
      <div class="container">

        <div class="section-title">
          <h2>Our Portfolio</h2>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="icon-box">
             
              <img src="assets/Trinity_Fron_End_Dev_Assignment/iPhone X - Light.png">
      
            </div>
          </div>

          <div class="col-xl-3 col-md-6">
            <div class="icon-box">
              <img src="assets/Trinity_Fron_End_Dev_Assignment/iPhone X - Light.png">
              
              
            </div>
          </div>

          <div class="col-xl-3 col-md-6 ">
            <div class="icon-box">
           
              <img src="assets/Trinity_Fron_End_Dev_Assignment/iPhone X - Light.png">
              
            </div>
          </div>

          <div class="col-xl-3 col-md-6">
            <div class="icon-box">
             
              <img src="assets/Trinity_Fron_End_Dev_Assignment/iPhone X - Light.png">
              
            </div>
          </div>
                <div class="path-29"></div>
        </div>
</div>
      
    </section>

    <section id="feedback" class="feedback" style="margin-bottom: 150px;" >
        <div class="container" >
             <div class="feedback-title" >
               <h2>our clients feedback</h2>
               <p>It Is A Long Established Fact That A Reader Will Be Distracted By The Readable Content Of A Page When Looking At Its Layout. The Point Of Using Lorem</p>
             </div>
     
    <div class="row" style="
    height: 547px;margin-top: 50px;" style="background: #EFEFFE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;margin-top: 50px;">
      <div class="col-lg-6 col-sm-12">
        <div class="icon-box">
        <img src="assets/Trinity_Fron_End_Dev_Assignment/photography-of-a-guy-wearing-green-shirt-1222271@2x.png" style="width:100%;height: 500px;">
      </div>
     
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="feedback-box">
         
           
            <div class="feedback-text">
              <ul class="a">
                <li><img src="assets/Trinity_Fron_End_Dev_Assignment/grade-24px (1).svg"></li>
                <li><img src="assets/Trinity_Fron_End_Dev_Assignment/grade-24px (1).svg"></li>
                <li><img src="assets/Trinity_Fron_End_Dev_Assignment/grade-24px (1).svg"></li>
                <li><img src="assets/Trinity_Fron_End_Dev_Assignment/grade-24px (1).svg"></li>
                <li><img src="assets/Trinity_Fron_End_Dev_Assignment/grade-24px (1).svg"></li>
              </ul>
            <p style="color:#222D39;opacity:0.7">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque<br> laudantium,<br>
             totam rem aperiam, eaque ipsa quae ab illo modi tem."</p>
             <p style="color: #000000;opacity: 1;font-weight: 400;margin-top: 50px;"><strong>Riad Islam</strong><br><a style="font-size: 12px;font-weight: 600;">Product Manager</a><span><a style="font-size: 12px;color:blue">@Pixby</a></span></p>
          </div>
         
        
        
        </div>
      </div>

</div>
</div>
</section> 

<div class="footer-contact">
  <div class="row">
    <div class="col-lg-6">
<div class="contact-title">
  <h3 style="opacity: 0.8;color: white;text-transform: capitalize;">Contact Us</h3>
  <p style="font-size: 15px;opacity: 0.5;color: white;">There are many variations of passages of Lorem Ipsum but the majority have suffered alteration.</p>
</div>
</div>
<div class="col-lg-6">
  <div class="contact-button">
    <div class="contact-sub-button">Send
    </div>
     </div>
  </div>
  </div>
</div>
<footer id="footer">
  <div class="container" >
   
  <div class="footer-top">
    
      <div class="row">

        <div class="col-lg-3 col-md-3">
          <div class="footer-info">
            
            <ul class="a">
              <li><div class="rectangle1"></div></li>
              <li><div class="rectangle1" style="margin-left: -18px;"></div></li>
              <li style="text-align: left;
              letter-spacing: 0px;
              color: #707070;
              text-transform: capitalize;
              opacity: 1;font-size:30px;font-weight:600; 
    font-family: 'Poppins', sans-serif;">Pixbey</li>
           </ul>
           <ul class="a" id="social-links">
            <li><img src="assets/Trinity_Fron_End_Dev_Assignment/facebook-logo (1).svg"></li>
            <li><img src="assets/Trinity_Fron_End_Dev_Assignment/twitter (1).svg"></li>
            <li><img src="assets/Trinity_Fron_End_Dev_Assignment/linkedin-logo (1).svg"></li>
            <li><img src="assets/Trinity_Fron_End_Dev_Assignment/XMLID_798_.svg"></li>
            
          </ul>
            
          </div>
        </div>

        <div class="col-lg-3 col-md-3 footer-links">
          <h6>Links</h6>
          <ul class="b">
            <li> <a href="#">Home</a></li>
            <li> <a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-3 footer-links">
          <h6>Links</h6>
          <ul class="b">
            <li> <a href="#">Home</a></li>
            <li> <a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>
       
        <div class="col-lg-3 col-md-3 footer-links">
          <h6>Links</h6>
          <ul class="b">
            <li> <a href="#">Home</a></li>
            <li> <a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</footer> 